<launch>
  <node name="filter" pkg="ipa_scenario_automatica14" type="filter" output="screen">
	<remap from="/shapes_array" to="/shapes_array"/>

	<param name="angle_tolerance" value="0.4" />
	<param name="distance_tolerance" value="-0.44" />
	<param name="min_weight" value="200" />
	<param name="max_weight" value="1500" />

	<rosparam param="workspace">[-0.4,-0.4, 0.4,-0.4, 0.4,0.4, -0.4,0.4]</rosparam>
  </node>
</launch>

