<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cell">

    <xacro:property name="base_origin">
        <origin xyz="0 0 0.95" rpy="0 0 0" />
    </xacro:property>

    <xacro:property name="cam3d_calibration_origin">
        <origin xyz="0.65 0.791 0" rpy="0 0 0" />
    </xacro:property>

    <xacro:property name="cam3d_env_origin"> <!-- fill in calibration values here -->
        <!--origin xyz="-0.00525894500153 0.263612777206 1.65" rpy="-3.1415926 0 -3.1415926" /-->
        <origin xyz="-0.00549884192955 0.273024997864 1.80" rpy="-3.1415926 0 -3.1415926" />
    </xacro:property>

    <xacro:property name="ur5_origin">
        <origin xyz="0.45 1.585 0.01" rpy="0 0 -2.35619449019" /> <!-- measured -->
        <!--origin xyz="0.45 1.55 0.01" rpy="0 0 -2.35619449019" /--> <!-- manually calibrated -->
    </xacro:property>

    <xacro:property name="sia10f_origin">
        <origin xyz="0.605 0.553 0.015" rpy="0 0 1.5708" /> <!-- measured -->
        <!--origin xyz="0.45 0.37 0.015" rpy="0 0 0" /--> <!-- manually calibrated -->
    </xacro:property>

    <link name="base_footprint"/>
    
    <joint name="base_joint" type="fixed" >
        <parent link="base_footprint" />
        <child link="base_link" />
        <xacro:insert_block name="base_origin" />
    </joint>

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/cell.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/cell_col.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>
