<robot xmlns:xacro="http://ros.org/wiki/xacro">

     <xacro:property name="gripper_origin">
        <origin xyz="0. 0. 0" rpy="0 0 0" />
    </xacro:property>

    <xacro:property name="flange_origin">
        <origin xyz="0. 0. 0.03" rpy="0.0 0 1.5708" />
    </xacro:property>
    
     <link name="finger_left_link">
        <visual>
            <geometry>
            <mesh filename="package://automatica2014_description/meshes/finger_left.stl"/>
            </geometry>
            <material name="silver">
					<color rgba="1 1 1 1"/>
			</material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/finger_left.stl"/>
            </geometry>
            <material name="silver">
					<color rgba="1 1 1 1"/>
			</material>
        </collision>
    </link>
    
    <link name="finger_right_link">
        <visual>
            <geometry>
            <mesh filename="package://automatica2014_description/meshes/finger_right.stl"/>
            </geometry>
            <material name="silver">
					<color rgba="1 1 1 1"/>
			</material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/finger_right.stl"/>
            </geometry>
            <material name="silver">
					<color rgba="1 1 1 1"/>
			</material>
        </collision>
    </link>
    
    <link name="gripper_grasp_link">
        <visual>
            <geometry>
            <mesh filename="package://automatica2014_description/meshes/gripper.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue">
					<color rgba="0 0 1 1"/>
			</material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/gripper.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue">
					<color rgba="0 0 1 1"/>
			</material>
        </collision>
    </link>
    
    <link name="gripper_flange_link">
        <visual>
            <geometry>
            <mesh filename="package://automatica2014_description/meshes/flange.stl"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://automatica2014_description/meshes/flange.stl"/>
            </geometry>
        </collision>
    </link>

</robot>
