<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sia10f">
    <xacro:include filename="$(find motoman_sia10f_support)/urdf/sia10f_macro.xacro" />
    <xacro:include filename="$(find automatica2014_description)/urdf/PGplus70.urdf.xacro" />

    <!-- cell -->
    <xacro:include filename="$(find automatica2014_description)/urdf/cell.urdf.xacro" />
    
    <!-- arm -->
    <joint name="sia10f_base_joint" type="fixed" >
        <parent link="base_link" />
        <child link="sia10f_base_link" />
        <xacro:insert_block name="sia10f_origin" />
    </joint>
    
    <xacro:motoman_sia10f prefix="sia10f_"/>

    <!-- flange -->

    <joint name="flange_joint" type="fixed" >
        <parent link="sia10f_link_t" />
        <child link="gripper_flange_link" />
        <origin xyz="0. 0. 0.0" rpy="0.0 0 0" />
    </joint>
    <link name="gripper_flange_link">
        <visual>
            <origin xyz="0.0 0.0 0.025" rpy="0 0 0"/>   <!-- TODO -->
            <geometry>
                <cylinder radius="0.045" length="0.05"/>  <!-- TODO -->
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>

    <!-- gripper -->
    <xacro:PGplus70 prefix="" parent="gripper_flange_link">  <!-- TODO -->
        <origin xyz="0.0 0.0 0.0525" rpy="0 0 1.57"/>
    </xacro:PGplus70>
    
    <!-- grasp point -->
    
    <joint name="gripper_grasp_joint" type="fixed" >
        <parent link="gripper_link" />
        <child link="gripper_grasp_link" />
        <origin xyz="0.0 0.0 0.14" rpy="0 3.14 1.5708"/>
    </joint>

    <link name="gripper_grasp_link" >
        <collision>
            <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
            
</robot>
