<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5">

    <xacro:include filename="$(find ur_description)/urdf/ur5_joint_limited.urdf.xacro" />
    <xacro:include filename="$(find automatica2014_description)/urdf/lacquey.urdf.xacro" />
    
    <!-- cell -->
    <xacro:include filename="$(find automatica2014_description)/urdf/cell.urdf.xacro" />

    <!-- arm -->
    <joint name="ur5_base_joint" type="fixed" >
        <parent link="base_link" />
        <child link="ur5_base_link" />
        <xacro:insert_block name="ur5_origin" />
    </joint>
    
    <xacro:ur5_robot prefix="ur5_"/>

    <!-- gripper -->
    <xacro:lacquey_gripper prefix="" parent="ur5_ee_link">
        <origin xyz="0.0 0.0 0.0" rpy="0 1.57 0"/>
    </xacro:lacquey_gripper>

    <!-- grasp link -->

    <joint name="gripper_grasp_joint" type="fixed" >
        <parent link="gripper_link" />
        <child link="gripper_grasp_link" />
        <origin xyz="0.0 0.0 0.18" rpy="3.14 0 0"/>
    </joint>
    
    <link name="gripper_grasp_link" >
        <collision>
            <origin xyz="0.0 0.0 0.15" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>

</robot>
