<?xml version="1.0"?>
<launch>

	<arg name="pc1" default="scenario"/>
	<arg name="pc2" default="robot-sia10f"/>
	<arg name="pc3" default="robot-ur"/>

	<group>
		<machine name="pc1" address="$(arg pc1)" env-loader="$(find automatica2014_bringup)/env.sh" default="true"/>
		  <include file="$(find automatica2014_bringup)/launch/scenario.launch">
		  </include>

	</group>

	<group>
		<machine name="pc2" address="$(arg pc2)" env-loader="$(find automatica2014_bringup)/env.sh" default="true"/>
		  <include file="$(find automatica2014_bringup)/launch/sia10f.launch">
		  </include>
	</group>

	<!--group>
		<machine name="pc3" address="$(arg pc3)" env-loader="$(find automatica2014_bringup)/env.sh" default="true"/>
		  <include file="$(find automatica2014_bringup)/launch/ur5.launch">
		  </include>
	</group-->

</launch>

