<?xml version="1.0"?>
<launch>
	  <remap from="/robot_description" to="robot_description"/>
	  <remap from="/joint_states" to="joint_states"/>
          <remap from="/ur5/arm_controller/robot_description" to="/ur5/robot_description"/>

          <remap from="/tf" to="tf"/>

	  <include ns="ur5" file="$(find automatica2014_ur5_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	  </include>
</launch>

