<?xml version="1.0"?>
<launch>
  <!-- The planning of MoveIt for the Automatica2014 demo -->
  <arg name="robot_ip" default="10.0.1.3"/>
  <arg name="prefix" default="ur5_"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find automatica2014_description)/urdf/ur5.urdf.xacro'" />

  <!-- universal robot arm -->
  <node name="ur_driver" ns="ur5_controller" pkg="ur_driver" type="driver.py" args="$(arg robot_ip)" output="screen">
     <remap from="/ur5_controller/joint_states" to="/joint_states"/>
     <remap from="/ur5_controller/robot_description" to="/robot_description"/>
     <param name="prefix" value="$(arg prefix)"/>
  </node>

  <!-- TF Buffer Server -->
  <!--node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
    <param name="buffer_size" value="120.0"/>
  </node-->

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find automatica2014_ur5_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

</launch>

